body{
    background-color: black;
}
.head_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
h2{
    color: #ebeee4;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size:45px;
    border-top: 20px solid #000000;
    text-shadow: 4px 4px 10px #750606;
}