body{
    background-color: black;
}
.head_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
h2{
    color: #ebeee4;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size:40px;
    border-top: 40px solid #000000;
    text-shadow: 4px 4px 10px #750606;
}
h3{
    color: #ebeee4;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size:25px;
    border-top: 40px solid #000000;
    text-shadow: 4px 4px 10px #750606;
    margin-top: 70px;
}

.button_home{
    position: relative;
    color: white;
    top: -100px;
    left: 0px
}
a{
color: #ebeee4;
text-decoration: none;
}
a:hover, a:active {
    color: #1e1c1c;
    text-shadow: 4px 4px 10px #750606;
}
button{
    position: absolute;
    background-color: rgba(255, 99, 71, 0.5);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.Ab{
    display: flex;
    justify-content: center;
}
.block_but{
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    max-width: 100%;
    margin: 20px;
    margin-bottom: 50px;
    margin-top: 400px;
    object-fit: contain;
    display: inline-block;
}
IMG.displayed{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}