body{
    background: black;
}
header{
    /*margin: 200px;*/
    font-family: Arial;
}
.dws-menu *{
    margin: 0;
    padding: 0;
}
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li a{
    display: block;
    background: #ececed;
    padding: 12px 20px 12px 35px;
    font-size: 16px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li > a i.fa{
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}
.dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
    border-right: 1px solid #babbbb;
}
.dws-menu li a:hover{
    background: #454547;
    color: #ffffff;
    box-show: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
h2{
    color: #ebeee4;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size:45px;
    border-top: 20px solid #000000;
    text-shadow: 4px 4px 10px #750606;
}
h3{
    color: #ebeee4;
    text-align: right;
    font-size: 15px;
    font-family: Arial;
    font-weight:normal;
    border-right: 20px solid #000000;
    border-top: 10px solid #000000;
    border-bottom: 7px solid #000000;
}
h4{
    color: #bf321b;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    font-weight: bold;
    font-weight:normal;
    text-shadow: 4px 4px 10px #750606;
}

p{
    color: #ebeee4;
    font-family: Arial;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-weight:normal;
    font-size: 25px;
    max-width: 100%;
    padding-top: 10px;
}
p1{
    color: #ebeee4;
    text-align: center;
    font-style: normal;
    font-size: 15px;
    font-family: Arial;
    max-width: 100%;
    padding-top: 20px;
}
.button_home{
    position: relative;
    color: white;
    top: -100px;
    left: 0px
}
a{
color: #ebeee4;
text-decoration: none;
}
a:hover, a:active {
    color: #1e1c1c;
    text-shadow: 4px 4px 10px #750606;
}
button{
    position: absolute;
    background-color: rgba(255, 99, 71, 0.5);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.block_tr p{
    color: #ebeee4;
    text-shadow: 4px 4px 10px #750606;
    text-align: justify;
    font-family: arial;
    font-weight: normal;
    font-size: 25px;
    max-width: 100%;
    padding-top: 10px;

}
.block_tr{
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    max-width: 100%;
    margin: 50px;
    object-fit: contain;
    display: inline-block;
}

.link-read{
    color: #ebeee4;
    text-shadow: 4px 4px 10px #750606;
    text-align: right;
    font-family: arial;
    font-weight: normal;
    font-size: 25px;
    max-width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.head_container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

IMG.displayed{
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.paralax{
    background: url("/media/stock_ac/nog.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 30vh;
    width: 960px;
    max-width: 100%;
}

.Ab{
    display: flex;
    justify-content: center;
}
.block_ab{
    border: 2px;
    padding: 10px;
    max-width: 300px;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
}

.form_reg{
    color: #ebeee4;
    text-align: center;
    border: 2px white solid;
    border-radius: 10px;
    padding: 10px;
    width: 480px;
    max-width: 100%;
    margin: 20px;
    object-fit: contain;
    display: inline-block;
}

.block_but{
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    max-width: 100%;
    margin: 20px;
    margin-left: 130px;
    margin-bottom: 250px;
    object-fit: contain;
    display: inline-block;
}