
<header>
  <nav class="dws-menu">
    {% if request.user.is_authenticated %}
    <h3>{{ user.username }} | <a href="{% url 'logout' %}">Выход</a></h3>
    {% else %}
    <h3><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></h3>
    {% endif %}
    <h3>Санкт-Петербург, м.Московская, ул. Типанова</h3>
    <h3>С 10:00 до 21:00</br><i class="fa-solid fa-mobile-screen-button"></i> +7(953) 374-26-61</h3>

    <ul>
      <li><a href="{% url 'home' %}"><i class="fa-solid fa-house-circle-check"></i> Главная</a></li>
      <li><a href="{% url 'abon-name' %}"><i class="fa-regular fa-address-card"></i> Абонемент</a></li>
      <li><a href="{% url 'hall-name' %}"><i class="fa-solid fa-camera-retro"></i> Галерея</a></li>
      <li><a href="{% url 'trainer-name' %}"><i class="fa-solid fa-people-group"></i> Тренеры</a></li>
      <li><a href="{% url 'stock-name' %}"><i class="fa-solid fa-percent"></i> Акции</a></li>
    </ul>
  </nav>
</header>

