{% extends 'base.html' %}

{% load static %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/style.css'%}">
{% endblock %}

{% block title %}Абонемент в фитнес клуб рядом с метро Московская Спб Санкт-Петербург{% endblock %}

{% block content %}
<section class="head">
    <div class="head_container">
        {% include 'includes/navbar.html' %}
        <h2>Абонемент</h2>

        <div class="Ab">
        {% for a in ab%}
            <div class="block_ab">
                <h4>{{ a.abonnement }}</h4>
                <p>{{ a.time }}</p>
                <p>{{ a.price }} руб. в месяц</p>
            </div>
        {% endfor %}
        </div>

        <IMG class="displayed" src="/media/ab/bug00.jpg">

    </div>
</section>
{% endblock %}
