{% extends 'base.html' %}

{% load static %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/style.css'%}">
{% endblock %}

{% block title %}Спб Фитнес клуб Hall Of Iron Санкт-Петербург метро Московская{% endblock %}
{% block content %}
<section class="head">
    <div class="head_container">
        {% include 'includes/navbar.html' %}
        <h2>Авторизация</h2>

        <form method="post">
            <div class="Ab">
                <div class="form_reg">
                    <p>{% csrf_token %}
                        {{ form.as_p }}</p>
                </div>
            </div>
            <div class="Ab">
                <div class="block_but">
                    <button type="submit">Авторизация</button>
                </div>
            </div>

        </form>

    </div>
</section>
{% endblock %}