{% extends 'base.html' %}

{% load static %}


{% block css_additional %}
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'Gym_at_the_Moscow/css/style.css'%}">
{% endblock %}

{% block title %}Акции Фитнес клуб Hall Of Iron Санкт-Петербург метро Московская Спб{% endblock %}

{% block content %}
<section class="head">
    <div class="head_container">
        {% include 'includes/navbar.html' %}

        <h2> Акции </h2>

    {% for s in stock%}
        <div class="paralax"></div>
            <h4>{{ s.name }}</h4>
            <p>{{ s.about_stock }}</p>
            <p1>До {{ s.date_ac }}</p1>
    {% endfor %}

    </div>
</section>
{% endblock %}